body{
  background-color: cornflowerblue;
  color: black;
}
.App {
  text-align: center;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskBg{
background-color: bisque;
border-radius: 6px;
margin-bottom: 20px;
padding: 10px 140px 10px 15px;
text-align: left;
font-size: 22px;
position: relative;
margin-left: 10%;
margin-right: 10%;

}

.taskNumber{
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText{
  flex: 1;
}

.taskBg .done .taskText{
  text-decoration: line-through;
  opacity: 0.3;
  
}

.taskBg .iconsWrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0px 10px;
  cursor: pointer;
  color: rgb(50, 114, 116);
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}
.row{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.search{
  border-radius: 5px;
  outline: transparent;
  margin-bottom: 10px;
  min-height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}